.socialMedia {
  position: fixed;
  color: var(--color1);
  top: 50%;
  background-color: var(--color2);
  height: 4rem;
  width: 2rem;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 5px 0px 1px #f5f5dca6;
  transition: 0.5s;
}

.socialMedia:hover {
  box-shadow: 0px 0px 0px 0px #f5f5dca6;
  background-color: #45dbe6;
}

.socialMedia a {
  color: var(--color1);
  font-size: 25px;
  cursor: pointer;
  margin-left: 2px;
  transition: 0.5s;
}

.socialMedia a:hover {
  color: rgba(253, 22, 22, 0.678);
  transition: 0.7s;
}
