:root {
  --color0: #edf3f5;
  --color1: #1f2667;
  --color2: #45e696;
  --color3: #ff0000;
  --color4: #ffc400;
  --color5: #0000ff;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #ffff;
  font-family: "Concert One", cursive;
  background-color: var(--color1);
}

h1 {
  font-family: "Play", sans-serif;
  color: var(--color2);
}

li {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
